.box{
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes changeColor{
    0%{
        background-color: red;
        transform: translate(0 ,0);

    }
    25%{
       background-color: blue;
        transform: translate(0 , 200px);
        

    }
    50%{
        background-color: yellow;
        transform: translate(200px , 200px);
       

    }
    75%{
        background-color: green;
        transform: translate(200px , 0);
        

    }
    100%{
        transform: translate(0 , 0);
        

    }
}